<p>configuration works!</p>
<div class="container">
    <div>
        <form>
            <label>Фамилия</label>
            <input type="text">
            <button>Изменить</button>
        </form>
    </div>
    <div>
        <form>
            <label>Имя</label>
            <input type="text">
            <button>Изменить</button>
        </form>
    </div>
    <div>
        <form>
            <label>Отчество</label>
            <input type="text">
            <button>Изменить</button>
        </form>
    </div>
    <div>
        <form>
            <label>Факультет</label>
            <input type="text">
            <button>Изменить</button>
        </form>
    </div>
    
</div>