
<div class="container">
    <div>
        <form (ngSubmit)="changePassword()">
            <label>Пароль</label>
            <input type="text" placeholder="" [(ngModel)]="accountDataTemp.password">
            <button type="submit">Изменить</button>
        </form>
    </div>
    <div>
        <form (ngSubmit)="changeLastName()">
            <label>Фамилия</label>
            <input type="text" placeholder="" [(ngModel)]="accountDataTemp.lastName">
            <button type="submit">Изменить</button>
        </form>
    </div>
    <div>
        <form (ngSubmit)="changeFirstName()">
            <label>Имя</label>
            <input type="text" placeholder="" [(ngModel)]="accountDataTemp.firstName">
            <button type="submit">Изменить</button>
        </form>
    </div>
    <div>
        <form (ngSubmit)="changePatronymic()">
            <label>Отчество</label>
            <input type="text" placeholder="" [(ngModel)]="accountDataTemp.thirdName">
            <button type="submit">Изменить</button>
        </form>
    </div>
    <div>
        <form (ngSubmit)="changeBirthDay()">
            <label>День рождение</label>
            <input type="text" placeholder="год" [(ngModel)]="birthDay.year">
            <input type="text" placeholder="месяц" [(ngModel)]="birthDay.month">
            <input type="text" placeholder="дата" [(ngModel)]="birthDay.day">
            <button type="submit">Изменить</button>
        </form>
    </div>
    <div>
        <form (ngSubmit)="changeUniversityGroup()">
            <label>Группа</label>
            <input type="text" placeholder="" [(ngModel)]="accountDataTemp.groupUniversity">
            <button type="submit">Изменить</button>
        </form>
    </div>
    <div>
        <form (ngSubmit)="changeFaculty()">
            <label>Факультет</label>
            <input type="text" placeholder="" [(ngModel)]="accountDataTemp.fakulty">
            <button type="submit">Изменить</button>
        </form>
    </div>
    <div>
        <form (ngSubmit)="changeNickname()">
            <label>Ник</label>
            <input type="text" placeholder="" [(ngModel)]="accountDataTemp.nickName">
            <button type="submit">Изменить</button>
        </form>
    </div>
    <div>
        <form (ngSubmit)="changeMediaStatus()">
            <label>Статус</label>
            <input type="text" placeholder="" [(ngModel)]="accountDataTemp.statusInProfile">
            <button type="submit">Изменить</button>
        </form>
    </div>
    
</div>