<div id="sectionSidesInner" class="container">
    <section id="profileHeadInner">
        <div id="leftColumnInner">
            <div id="photo1"></div>
            <div>
                <a routerLink="/settings">настройки</a>
            </div>
        </div>
        
        <div id="rightColumnInner">
            <!-- header / верхняя строчка профиля -->
            <div class="name">
                <a href="/profile">{{account.firstName}} {{account.lastName}}</a>
            </div>
            

            <!-- info block / блок информации об аккаунте -->

            <div>
                 <div class="infoInProfileInner">
                     <p>{{account.statusInProfile}}</p>
                 </div>
                 <div class="infoInProfileInner">
                     <label>День рождения</label>
                     <span>{{account.birthDay}}</span>
                 </div>
                 <div class="infoInProfileInner">
                     <label>Группа</label>
                     <span>{{account.groupUniversity}}</span>
                 </div>
                 <div><a (click)="profileMoreInfo()">Показать подробную информацию</a></div>
                 <div *ngIf="profileMore">
                    <div class="infoInProfileInner">
                        <label>Факультет</label>
                        <span>{{account.fakulty}}</span>
                    </div>
                    <div class="infoInProfileInner">
                        <label>Группа</label>
                        <span>{{account.groupUniversity}}</span>
                    </div>
                 </div>
            </div>
            <hr>
            <div class="countInfo">
                <div class="count">
                    <div>Друзья</div>
                    <div>
                        {{account.countOfFrends}}
                    </div>
                </div>
                <div class="count">
                    <div>Количество подписок</div>
                    <div>
                        {{account.countOfFolowers}}
                    </div>
                </div>
                <div class="count">
                    <div>Фото</div>
                    <div>
                        {{account.countOfPhoto}}
                    </div>
                </div>
                <div class="count">
                    <div>Посты</div>
                    <div>
                        {{account.countOfPosts}}
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>








<!-- <div>
                <div>{{account.statusInProfile}}</div>
                <button (click)="clickChecker()" *ngIf="!clickChange">внести изменения</button>
                <div *ngIf="clickChange">
                    <input [(ngModel)]="account.statusInProfile">
                    <button (click)="changeMediaStatus()">обновить</button>
                </div>
            </div> -->