<header>
  <div class="container">
    <div id="header">
      <a href="/">TOGUME</a>
    <div class="photo-avatar-inner">
      <a href="/profile">
        <img src="" alt="аватар">
      </a>
    </div>
    </div>
  </div>
</header>
<div class="container">
  <!-- ВРЕМЕННАЯ НАВИГАЦИЯ ДЛЯ ПРОЕКТА -->
  <nav style="display: flex;">
    <!-- <a routerLink="profile/{{id}}" style="margin-right: 30px;">profile</a> -->
    <a routerLink="profile/{{user.id}}" style="margin-right: 30px;">profile</a>
    <a routerLink="logIn" style="margin-right: 30px;">login</a>
    <a routerLink="registration" style="margin-right: 30px;">registration</a>
    <a routerLink="settings" style="margin-right: 30px;">настройки</a>
    <a href="https://www.figma.com/file/AzUh6ZAvmTDuLyAKIdZ02X/TOGUME" style="margin-right: 30px;">FIGMA</a>
  </nav>
  <hr>
</div>
<router-outlet></router-outlet>