<form (ngSubmit)="registration()" name="reg" *ngIf="!showConfForm">
    <div>
        <label>Email</label> 

        <br>

        <input [(ngModel)]="user.Email" type="email" name="emailreg">
    </div>
    <div>
        <label>Password</label>
        
        <br>

        <input [(ngModel)]="user.Password" type="password" name="passwordreg">
    </div>
    <div>
        <label>Repeat password</label>
        
        <br>

        <input [(ngModel)]="secondPassword" type="password" name="secondpasswordreg">
        <br>
        <label *ngIf="(secondPassword !== user.Password) && (secondPassword !== '')">Пароли не совпадают</label>
        <label *ngIf="(secondPassword == user.Password) && (secondPassword !== '') && user.Password !==''">Пароли совпадают</label>
    </div>
    <!-- кликабельность кнопок от правильности пароля -->
    <button [disabled]="(secondPassword !== user.Password) || user.Password =='' || user.Email ==''">sign-up</button>
</form>

<!-- условие для открытия окна подтверждения -->
<form *ngIf="error && showConfForm" (ngSubmit)="registrationConfirmation()" name="regname">
    <div>
        <label>code</label> 
        <br>
        <input [(ngModel)]="code" name="code">
    </div>
    <button type="submit">Подтвердить</button>
</form>
