<div class="container">
    <p>group-menu works!</p>
    <!-- <div class="groupInner">
        <div>
            <div class="imageIcon"></div>
            <div class="textInfoInner">
                <div class="label"></div>
                <div class="countOfMembers"></div>
            </div>
        </div>
    </div> -->
    <div class="groupInner">
        <div>
            <div class="imageIcon"></div>
            <div class="textInfoInner">
                <div class="label">PNU EDU</div>
                <div class="countOfMembers">777777</div>
            </div>
        </div>
    </div>
</div>
